body {
  min-height: 100vh;
  background: linear-gradient(45deg, #ee9696 0%, #ebd69c 100%);
}
.game-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  padding: 0;
  margin: 0;
}
h3 {
  color: green;
  margin-top: 5px;
  margin-bottom: 4px;
  padding-top: 0;
}

.reset {
  margin-top: 3px;
  font-size: 1.4rem;
}
